#header {
  //background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  @include gradient-directional($start-color: #0fb8ad, $end-color: #1fc8db, $deg: 40deg);

  text-align: center;
}

.logo {
  font-size: 5rem;
  font-family: 'Nova Square', cursive;
  padding: 0 0 2.5rem 0;

  &__text {
    color: #adeaf9;
    @include transition(color 1s ease);

    @at-root &:hover {
      color: #7feff9;
    }
  }
}