$hollow-button-color: #d971e4de;
$hollow-button-hover-color: #f1b1ebde;

.nav {
  justify-content: center;
  font-family: 'Rajdhani', sans-serif;

  li {
    border: 1px solid $hollow-button-color;
    border-radius: 7px;
    margin: 1.5rem 0 1.1rem 0;
    @include transition(border-color 0.5s ease);

    &:hover {
      border-color: $hollow-button-hover-color;
    }

    a {
      color: $hollow-button-color;
      display: block;
      margin: 1rem;
      font-size: 2em;
      @include transition(color 0.5s ease);

      &:hover {
        color: $hollow-button-hover-color;
      }
    }
  }
}


